.modal-header{
    background-color: #FF0072;
    border-radius: 40px;
    color: white;
}

.modal-title{
    color: white;
}

#addTodoBtn{
    background-color: #FF0072;

}


.btn-secondary{
    background-color: #FF0072;
}

#todoListModalLabel{
    margin-bottom: 0px;
    line-height: 1.1 !important;
    padding: 26px;
}

.modal-body {
   
    padding: 40px;
}


.modal-footer {
    justify-content: center;
}

#todoListModalContent{
    border-radius: 40px !important;
}

.modal-title #designName {
    color: white; /* Change text color */
    
}

.innerbutton{
    background-color: white !important;
    color: #FF0072;
}

.infobtn{
    background-color: #FF0072 !important;
    border-color: #FF0072;

}

#todoCounter{
    background-color: #FF0072 !important;
}


